body {
  margin: 20px;

  --main-bg-color: #011F3C;
  --game-area-bg-color: #054685;
  --canvas-text-color: #FEDB3B;
}

h1 {
  text-align: center;
}

code {
  background: #d0d0d5;
}

canvas {
  margin: auto;
  background-color: var(--main-bg-color);
}

#user-stories {
  font-size: 1.3rem;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}
